<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <img src="../../assets/d20 red.png" class="logo" width="50"/>
    <ion-title class="roll">
      Roll For Initiative
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item lines="full">
    <ion-label position="floating">Name</ion-label>
    <ion-input placeholder="Add Character's Name" [(ngModel)]="name" name="txname"></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">AC</ion-label>
    <ion-input placeholder="Add Character's AC" [(ngModel)]="ac" name="txac"></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">HP</ion-label>
    <ion-input placeholder="Add Character's HP" [(ngModel)]="hp" name="txhp"></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">MP</ion-label>
    <ion-input placeholder="Add Character's MP" [(ngModel)]="mp" name="txmp"></ion-input>
  </ion-item>
                     
  <ion-button class="add" type="submit" color="danger" (click)="addChar()">Add</ion-button>
  <ion-button class="cancel" [routerLink]="['/home']" color="danger">Cancel</ion-button>
  </ion-content>

  <ion-footer>
         <ion-toolbar color="dark">
           <a [routerLink]="['/home']">
             <img src="../../assets/espada branca.png" class="sword" width="45"/>
           </a>
           <a [routerLink]="['/rules']">
                <img src="../../assets/livro branco.png" class="book" width="90"/>
           </a>
         </ion-toolbar>
  </ion-footer>