<ion-header>
  <ion-toolbar color="dark">
    <img src="../../assets/d20 red.png" class="logo" width="50"/>
    <ion-title class="roll">
      Roll For Initiative
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="danger">Combat</ion-button>
  <ion-button color="danger">Conditions</ion-button>
  <ion-button color="danger">Types pf Demage</ion-button>
  <ion-button color="danger" >Monsters</ion-button>

<ion-item *ngFor="let item of data">{{item}}</ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <a [routerLink]="['/home']">
      <img src="../../assets/espada branca.png" class="sword" width="45"/>
    </a>
    <img src="../../assets/livro cinza.png" class="book" width="90"/>
  </ion-toolbar>
</ion-footer>