<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <img src="../../assets/d20 red.png" class="logo" width="50"/>
    <ion-title class="roll">
      Roll For Initiative
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <h1 class="turn"><b>Turn</b></h1>

      <table class="u-full-width">
        <thead>
          <tr>
            <th>Name</th>
            <th>AC</th>
            <th>HP</th>
            <th>MP</th>
          </tr>
        </thead>
        <tbody>
          <tr class= "data" *ngFor="let item of turn.characters">
            <td>{{item.name}}</td>
            <td>{{item.ac}}</td>
            <td>{{item.hp}}</td>
            <td>{{item.mp}}</td>
          </tr>
        </tbody>
      </table>
      <ion-button [routerLink]="['/addchar']" color="danger" class="add">Add</ion-button>
      <ion-button [routerLink]="['/removechar']" color="danger" class="cancel">Remove</ion-button>
      <ion-button [routerLink]="['/edit']" color="danger" >Edit</ion-button>
    </ion-content>

  <ion-footer>
    <ion-toolbar color="dark">
      <img src="../../assets/espada cinza.png" class="sword" width="45"/>
      <a [routerLink]="['/rules']">
      <img src="../../assets/livro branco.png" class="book" width="90"/>
    </a>
    </ion-toolbar>
  </ion-footer>